.navbar-custom {
	background-color: #3385a7;
	color: white;
	border-radius: 0px;
}

.row {
	margin: 0px;
}

table {
	width: 100%;
}

table tr td {
	padding-top: 15px;
}

.bg-red {
	background-color: red;
}

.bg-green {
	background-color: green;
}

.bg-white {
	background-color: white;
}

.color-green {
	color: green;
}

.color-red {
	color: red;
}

.color-white {
	color: white;
}

.navbar-custom ul li a {
	color: white;
}

.navbar-custom ul li a:hover {
	background-color: #1c7da5;
	color: white;
}


.well-bordered {
	border: 0.5px solid #eee;
	border-radius: 5px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}